html
    head
        title=title
    body
        div(id='geochart' style="width: 900px; height: 600px;")
        scripts
            script(src='https://www.gstatic.com/charts/loader.js')
            script(src='/javascripts/geochart.js')
